header {
  text-align: center;
}

a:link {
  color: darkolivegreen;
}

a:visited {
  color: darkolivegreen;
}

body {
    background-color: darkolivegreen;
}

h1 {
    text-align: center;
    color: lavender;
    font-size: x-large;
}

h2  {
    text-align: center;
    color: lavender;
    font-size: small;
}

nav {
  align-items: center;
}

nav a {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: lavender;
  color: lavender;
}

img {
  padding-top: 30px;
  position: center;
  border-radius: 25%;
  width: 75%;
  height: auto;
}